
body {
    font-family: "Open Sans", sans-serif!important;
    color: #0c0c0c!important;
    background-color: #ffffff!important;
    overflow-x: hidden!important;
    margin: 0!important;
    font-size: 1rem!important;
    font-weight: 400!important;
    line-height: 1.5!important;
    text-align: left!important;
}